@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  width: 45%;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
}

.container {
  position: relative;
  border: 3px solid #000;
  margin-left: 15rem;
}
.header > img {
  width: 100%;
  height: 40vh;
}
.about > h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.about > p {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.about > .inner-div {
  display: flex;
  flex-wrap: wrap;
}
.skills {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}
.skills > span {
  font-weight: 700;
  padding: 0.4rem;
  font-size: 1.4rem;
  border-radius: 0.7rem;
}
